#{extends 'main.html' /}
#{set title:'Applications of ' + resume /}

<div class="wrapper">
	#{navigationBar /}
	#{notification /}

	<div class="middle">
		#{if applications}
			<div style="width:100%; float: left;">
	            <div style="float: left; padding-bottom: 20px; font-size:20px">
	            	Applications of <a href="@{InternJobSeekerController.viewResume(resume.id)}">${resume}</a>
	            </div>
			</div>
			<div style="width:720px; float:left; margin: 0px auto;">
				#{list items:applications, as:'application'}
                	<div class="info-box">
                        <a href="@{InternJobSeekerController.viewApplication(application.id)}">
                            <table class="square-avatar">
	                            <tr>
									<td><img src="/public/images/default-avatar.png" /></td>
								</tr>
							</table>
                            ${application.job}
                		</a>
						<div>
							#{if application.job.description}
								#{if application.job.description.length() > 250}
									${application.job.description.substring(0, 250) + "..."}
								#{/if}
								#{else}
									${application.job.description}
								#{/else}
							#{/if}
						</div>
                    </div>
                #{/list}
			</div>
			
			<!--Page navigator-->
			<div class="page-navigator">		
				#{if page > 1}
					<a href="@{InternJobSeekerController.applicationsForResume(resume.id, 1)}">First</a>
					<a href="@{InternJobSeekerController.applicationsForResume(resume.id, page-1)}">Prev</a>
				#{/if}
				${page}/${max}
				#{if page < max}
					<a href="@{InternJobSeekerController.applicationsForResume(resume.id, page+1)}">Next</a>
					<a href="@{InternJobSeekerController.applicationsForResume(resume.id, max)}">Last</a>
				#{/if}
				
			</div>
		#{/if}
	</div>
	
	<!--Seperator space-->
    <div style="height:50px; width:100%; float:left"> </div>
	<!--Footer-->
    #{footer /}
</div>