#{extends 'main.html' /}
#{set title:'Apply ' + job /}

<div class="wrapper">
#{navigationBar /}

#{ifErrors}
	<h1>Oops...</h1>
	#{errors}
		<li>${error}</li>
	#{/errors}
#{/ifErrors}

<div class="middle">
#{if points}
<div style="width: 100%; float:left; padding-bottom:20px; padding-left:50px">
<table cellpadding="10px">
#{form @InternJobSeekerController.applyJob(job.id) }
	<tr>
		<td width="180px">
			Resume to apply:
        </td>
        <td>
			<select name="application.resume.id">			
				#{list items: points, as:'point'}
					<option value="${point.resume.id}" #{ifErrors}#{if flash['application.resume?.id']==point.resume.id}selected="true"#{/if}#{/ifErrors}>${point.resume} +${point.strongPoint} -${point.weakPoint}</option>
				#{/list}			
			</select>
		</td>
    </tr>
        
	<tr>	
		<td>
			Message:
        </td>
        <td>
        	<textarea style="width:300px; height:100px" name="application.message">#{ifErrors}${flash['application.message']}#{/ifErrors}</textarea>
			<span class="error">#{error 'application.message' /}</span>
		</td>
    </tr>
</table>
</div>
		<div style="width: 80%; float:left; margin: 0px auto; text-align:center">
			<input type="submit" value="Apply" />
		</div>
	#{/form}
#{/if}
#{else}
	No more resume to apply.
#{/else}
</div>
</div>