#{extends 'main.html' /}
#{set title:'Home' /}

#{navigationBar /}

<h1>Intern/Job Seeker</h1>

#{if finalPoints}
<h2>Suitable Jobs</h2>
	#{list items:finalPoints, as:'point'}
		<a href="@{InternJobSeekerController.viewJob(point.job.id)}"><h3>${point.job} for ${point.resume}</h3></a>
		<div>Point: +${point.strongPoint} -${point.weakPoint}</div>
	#{/list}
	<div>
		<a href="@{InternJobSeekerController.index(page-1)}">Prev</a>
		<a href="@{InternJobSeekerController.index(page+1)}">Next</a>
	</div>
#{/if}
