#{extends 'main.html' /}
#{set title:'Home' /}

#{if session['isAdmin'] == "true"}
	<a href="@{CRUD.index()}">Admin</a>
#{/if}
<a href="@{InternJobSeekerController.index()}">Home</a>
<a href="@{InternJobSeekerController.profile()}">Me</a>
<a href="@{Secure.logout()}">Logout</a>

<h1>Intern/Job Seeker</h1>

#{if finalJobs}
<h2>Suitable Jobs</h2>
	#{list items:finalJobs, as:'job'}
		<h3>${job}</h3>
	#{/list}
#{/if}

#{if finalPoints}
<h2>Suitable Job</h2>
	#{list items:finalPoints, as:'point'}
		<h3>${point.job} for ${point.resume}</h3>
		<div>Point: +${point.strongPoint} -${point.weakPoint}</div>
	#{/list}
#{/if}