#{extends 'main.html' /}
#{set title:'Home' /}

<div class="wrapper" style="width: 940px">

	#{navigationBar /}
	
	#{if flash.error}
		<p class="error">
			&{flash.error}
		</p>
	#{/if}

	#{if flash.success}
		<p class="success">
			&{flash.success}
		</p>
	#{/if}
	
	<div class="middle">
		#{if finalPoints}
			#{list items:finalPoints, as:'point'}
		    	<div class="job-link">
					<a href="@{InternJobSeekerController.viewJob(point.job.id)}">
		            	<img src="http://lorempixel.com/g/160/160/" style="height: 160px; width: 160px">
		            	${point.job} for ${point.resume}
		            </a>
					<div>Point: +${point.strongPoint} -${point.weakPoint}</div>
		        </div>
			#{/list}
			
		#{/if}
        
	</div>
    <!--Page navigator-->
    <div class="page-navigator">
    		<a href="@{InternJobSeekerController.index(1)}">First</a>
		#{if page > 1}
			<a href="@{InternJobSeekerController.index(page-1)}">Prev</a>
		#{/if}
           	${page}/${max}
		#{if page < max}
			<a href="@{InternJobSeekerController.index(page+1)}">Next</a>
		#{/if}
           	<a href="@{InternJobSeekerController.index(max)}">Last</a>
	</div>
    <!--Seperator space-->
    <div style="height:50px; width:100%; float:left"> </div>
    <!--Footer-->
    <div class="footer">
		<div class="info" style="float: left">
			<p>HUT SoICT ICT-54 (C) 2012</p>
		</div>
		<div class="about" style="float: right">
			<p>
				<a href="#">About</a> - 
				<a href="#">Home</a> - 
				<a href="#">Browse</a> - 
				<a href="#">Me</a> - 
				<a href="#">Logout</a>
			</p>
		</div>
	</div>
</div>
