#{extends 'main.html' /}
#{set title:'Suitable Jobs for ' + resume /}

<div class="wrapper">
	#{navigationBar /}
	#{notification /}

	<div class="middle">
		#{if jobPoints}
			<div style="width:100%; float: left;">
	            <div style="float: left; padding-bottom: 20px; font-size:20px">
	            	Suitable Jobs for <a href="@{InternJobSeekerController.viewResume(resume.id)}">${resume}</a>
	            </div>
			</div>
			<div style="width:720px; float:left; margin: 0px auto;">
				#{list items:jobPoints, as:'point'}
					<div class="info-box">
						<a href="@{InternJobSeekerController.viewJob(point.job.id)}">
							<table class="square-avatar">
	                            <tr>
									<td>
										<img src="
										#{if point.job?.owner.logo && point.job?.owner.logo.exists()}
											@{Application.employerPhoto(point.job.owner.id)}
										#{/if}
										#{else}
											/public/images/default-avatar.png
										#{/else}
										" class="square-avatar-img" />
									</td>
								</tr>
							</table>
							${point.job}
						</a>
						<div>
							#{if point.job.description}
								#{if point.job.description.length() > 250}
									${point.job.description.substring(0, 250) + "..."}
								#{/if}
								#{else}
									${point.job.description}
								#{/else}
							#{/if}
						</div>
					</div>
				#{/list}
			</div>
			
			<!--Page navigator-->
			<div class="page-navigator">
				#{if page > 1}
					<a href="@{InternJobSeekerController.jobsForResume(resume.id, 1)}">First</a>
					<a href="@{InternJobSeekerController.jobsForResume(resume.id, page-1)}">Prev</a>
				#{/if}
				${page}/${max}
				#{if page < max}
					<a href="@{InternJobSeekerController.jobsForResume(resume.id, page+1)}">Next</a>
					<a href="@{InternJobSeekerController.jobsForResume(resume.id, max)}">Last</a>
				#{/if}

			</div>
		#{/if}
	</div>
	
	<!--Seperator space-->
    <div style="height:50px; width:100%; float:left"> </div>
	<!--Footer-->
    #{footer /}
</div>
