#{extends 'main.html' /}
#{set title: jobSeeker /}

<div class="wrapper">
#{navigationBar /}

#{notification /}

	<div class="middle">
    	<div class="avatar">
        	<img src="http://lorempixel.com/160/240/people">
        </div>
        <div style="width:520px;float:left">
        	<div style="float: left; padding-bottom: 20px; font-size:20px">
            	<strong>${jobSeeker}</strong>
            </div>
            <div style="float:right">
				<a style="float:right" href="@{InternJobSeekerController.updateProfileForm()}">edit</a>
            </div>
        </div>

		#{displayJobSeeker jobSeeker:jobSeeker /}

        <!--Seperator space-->
        <div style="height:40px; width:100%; float:left"> </div>
    
        #{if (resumes=models.InternResume.find("owner = ? order by postedAt desc", jobSeeker).from(0).fetch(4))}
        <div style="width:100%; float: left;">
            <div style="float: left; padding-bottom: 20px; font-size:20px">
            	Resumes
            </div>
            <div style="float:right">
	            <a style="float:right" href="@{InternJobSeekerController.resumes()}">view all</a>
            </div>
        </div>
        <div style="width:720px; float:left; margin: 0px auto;">
            #{list items:resumes, as:'resume'}
            <div class="resume-link">
                <a href="@{InternJobSeekerController.viewResume(resume.id)}">${resume}</a>
                #{if resume.description}
                    <div>				
                        ${resume.description}				
                    </div>
                #{/if}
            </div>
            #{/list}
        </div>
		#{/if}
        
        

		<div style="width:100%; float: none; padding-bottom: 50px">
        #{if (applications=models.InternApplication.find("jobSeeker = ? order by postedAt desc", jobSeeker).from(0).fetch(4))}
            <div style="float: left; padding-bottom: 20px; font-size:20px">
            	Applications
            </div>
            <div style="float:right">
            	<a href="@{InternJobSeekerController.applications()}">view all</a>
            </div>
            <div style="width:720px; float: left; margin: 0px auto; padding-bottom:60px">
                #{list items:applications, as:'application'}
                	<div class="jobseeker-application">
                        <a href="@{InternJobSeekerController.viewApplication(application.id)}">
                            <img src="http://lorempixel.com/160/160/technics" style="height:160; width:160" />
                            ${application}
                		</a>
                    </div>
                #{/list}
                
            </div>
        #{/if}
        </div>
	</div>
    
    
    <!--Footer-->
    #{footer /}
</div>