#{extends 'main.html' /}
#{set title:'Resumes' /}

#{navigationBar /}

<h1>Intern/Job Seeker</h1>

#{if flash.error}
	<p class="error">
		&{flash.error}
	</p>
#{/if}

#{if flash.success}
	<p class="success">
		&{flash.success}
	</p>
#{/if}

#{if resumes}
	<h2>Resumes</h2>
	#{list items:resumes, as:'resume'}
		<a href="@{InternJobSeekerController.viewResume(resume.id)}"><h3>${resume}</h3></a>
		#{if resume.description}
			<div>				
				${resume.description}				
			</div>
		#{/if}
	#{/list}
	<div>
		#{if page > 1}
			<a href="@{InternJobSeekerController.resumes(page-1)}">Prev</a>
		#{/if}
		#{if page < max}
			<a href="@{InternJobSeekerController.resumes(page+1)}">Next</a>
		#{/if}
	</div>
#{/if}