#{extends 'main.html' /}
#{set title: job /}

<div class="wrapper">
	#{navigationBar /}



	<div class="middle">
		#{notification /}
	
	    #{displayJob job:job /}
	    <br />
    
	    #{if points}
			<div style="width:100%; float: left; text-align: center; padding-top:20px; padding-bottom:20px;">
				<a href="@{InternJobSeekerController.applyJobForm(job.id)}" class="button">Apply</a>
			</div>
		
			<!--Seperator space-->
	        <div style="height:40px; width:100%; float:left"> </div>
		
	    	<div style="width:100%; float: left;">	        
				<div style="float: left; padding-bottom: 20px">
					<h1>Your Suitable Resumes</h1>
				</div>
	        </div>
        
	        <div style="width:720px; float:left; margin: 0px auto;">
		       	 #{list items: points, as:'point'}
		        	<div class="info-box-no-img">
		                <a href="@{InternJobSeekerController.viewResume(point.resume.id)}">${point.resume}</a>
		                <div>
							#{if point.resume.description}
								#{if point.resume.description.length() > 200}
									${point.resume.description.substring(0, 200) + "..."}
								#{/if}
								#{else}
									${point.resume.description}
								#{/else}
							#{/if}
						</div>
		            </div>
		        #{/list}
			</div>
	    #{/if}
    
		<div style="width:100%; float: none; padding-bottom: 50px">
	    	#{if applications}
		        <div style="float: left; padding-bottom: 20px">
		        	<h1>Your Applications to this Job</h1>
		        </div>
				<div style="width:720px; float: left; margin: 0px auto; padding-bottom:20px">
			        #{list items: applications, as:'application'}
		       			<div class="info-box-no-img">
		            		<a href="@{InternJobSeekerController.viewApplication(application.id)}">${application.resume}</a>
							<div>
								#{if application.resume.description}
									#{if application.resume.description.length() > 200}
										${application.resume.description.substring(0, 200) + "..."}
									#{/if}
									#{else}
										${application.resume.description}
									#{/else}
								#{/if}
							</div>
		        		</div>
			        #{/list}
				</div>
		    #{/if}
		</div>

	</div>
</div>

    <!--Footer-->
    #{footer /}