#{extends 'main.html' /}
#{set title:resume /}

#{navigationBar /}

<h1>Intern/Job Seeker</h1>

#{if flash.error}
	<p class="error">
		&{flash.error}
	</p>
#{/if}

#{if flash.success}
	<p class="success">
		&{flash.success}
	</p>
#{/if}

#{displayResume resume:resume, as:"jobSeeker" /}

#{if jobPoints}
<h2>Suitable Jobs</h2>
	<a href ="@{InternJobSeekerController.jobsForResume(resume.id, 1)}">view all</a>
	#{list items:jobPoints, as:'point'}
		<a href="@{InternJobSeekerController.viewJob(point.job.id)}"><h3>${point.job} for ${point.resume}</h3></a>
		<div>Point: +${point.strongPoint} -${point.weakPoint}</div>
	#{/list}
#{/if}

#{if resume?.applications}	
	<h2>Applications</h2>
	<a href="@{InternJobSeekerController.applicationsForResume(resume.id, 1)}">view all</a>
	#{list items:models.InternApplication.find("resume = ? order by postedAt desc", resume).fetch(4), as:'application'}
		<a href="@{InternJobSeekerController.viewApplication(application.id)}"><h3>${application.job}</h3></a>
	#{/list}
#{/if}