#{extends 'main.html' /}
#{set title: 'View Application' /}

<div class="wrapper">
	#{navigationBar /}

	<div class="middle">
		#{notification /}

		#{if application.message}
			<div style="margin-bottom: 40px">
				<div style="padding-bottom: 10px"><h1>Message</h1></div>
				<p class="textarea">${application.message}</p>
			</div>
		#{/if}
		#{displayJob job:application.job /}
	
		<!--Seperator space-->
	    <div style="height:25px; width:100%; float:left"> </div>

		#{displayResume resume:application.resume /}
	</div>

</div>

<!--Seperator space-->
<div style="height:25px; width:100%; float:left"> </div>

<!--Footer-->
#{footer /}

