#{extends 'Secure/layout.html' /}

<div class="wrapper" align="center">
	<div style="height: 125px;"> </div>
	<div class="logo" align="center">
		<img border="0" src="/public/images/login-logo.jpg">
	</div>
	<br />
	
	<div class="login" align="center">
		#{form @authenticate()}
		
			#{notification /}
	
			<p id="username-field">
				<!-- <label for="username">&{'secure.username'}</label> -->
				<input type="text" name="username" class="inputBox" id="username" value="${flash.username}" />
			</p>
			<p id="password-field">
				<!-- <label for="password">&{'secure.password'}</label> -->
				<input type="password" name="password" class="inputBox" id="password" value="" />
			</p>
			<p id="remember-field">
				<input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
				<label for="remember">&{'secure.remember'}</label>
			</p>
			<p id="signin-field">
				<input type="submit" id="signin" value="&{'secure.signin'}" />
			</p>
			<p id="register-field">
				Or register as <a href="@{Application.registerJobSeekerForm()}">Job Seeker</a> & <a href="@{Application.registerEmployerForm()}">Employer</a>
			</p>
		#{/form}
	</div>
</div>

#{footer /}