#{extends 'Secure/layout.html' /}

<div class="wrapper" align="center">
	<div style="height: 125px;"> </div>
	<div class="logo" align="center">
		<img border="0" src="/public/images/login-logo.jpg">
	</div>
	<br />
	
	<div class="login" align="center">
		#{form @authenticate()}
		
			#{notification /}
	
			<p id="username-field">				
				<input type="text" name="username" class="inputBox" id="username" value=
				#{if flash.username}
					"${flash.username}"
				#{/if}
				#{else}
					"Email" onFocus="this.value=''"
				#{/else}
				 />
			</p>
			<p id="password-field">
				<input type="password" name="password" class="inputBox" id="password" value="Password" onFocus="this.value=''" />
			</p>						
			<p id="register-field">
				Or register as <a href="@{Application.registerJobSeekerForm()}">Job Seeker</a> & <a href="@{Application.registerEmployerForm()}">Employer</a>
			</p>
			<p>
				<input type="submit" id="signin" value="&{'secure.signin'}" />
			</p>
		#{/form}
	</div>
</div>

#{footer /}