#{extends 'main.html' /}
#{set title: 'Add Job' /}

#{navigationBar /}

<h1>Intern/Employer</h1>

#{ifErrors}
	<h1>Oops...</h1>
	#{errors}
		<li>${error}</li>
	#{/errors}
#{/ifErrors}

#{form @InternEmployerController.addJob()}
	<div>
		Name: <input type="text" name="job.name" value="${flash['job.name']}" />
		<span class="error">#{error 'job.name' /}</span>
	</div>
	<div>
		Required Work Experience: <input type="text" name="job.requiredWorkExperience" value="${flash['job.requiredWorkExperience']}" />
		<span class="error">#{error 'job.requiredWorkExperience' /}</span>
	</div>
	<div>
		Description: <textarea type="text" name="job.description">${flash['job.description']}</textarea>
		<span class="error">#{error 'job.description' /}</span>
	</div>
	<div>
		Required Education:
		<div>
			Study Years: <input type="text" name="job.requiredEducation.studyYears"
				value="${flash['job.requiredEducation.studyYears']}" /> 
				<span class="error">#{error 'job.requiredEducation.studyYears' /}</span>
		</div>
		<div>
			GPA: <input type="text" name="job.requiredEducation.gpa"
				value="${flash['job.requiredEducation.gpa']}" /> <span class="error">#{error
				'job.requiredEducation.gpa' /}</span>
		</div>
		<div>
			College: <input type="text" name="job.requiredEducation.college"
				value="${flash['job.requiredEducation.college']}" /> <span class="error">#{error
				'job.requiredEducation.college' /}</span>
		</div>
		<div>
			Major: *{*** TODO: Write Major here ***}*
		</div>
	</div>
	<div>
		Contact Info:
		<span class="error">#{error 'contactInfo' /}</span>
		<div>
			Contact email: <input type="text" name="job.contactInfo.contactEmail" value="#{ifErrors}${flash['job.contactInfo.contactEmail']}#{/ifErrors}#{else}${employer.contactInfo.contactEmail}#{/else}" />
			<span class="error">#{error 'job.contactInfo.contactEmail' /}</span>
		</div>
		<div>
			Mobile: <input type="text" name="job.contactInfo.mobile" value="#{ifErrors}${flash['job.contactInfo.mobile']}#{/ifErrors}#{else}${employer.contactInfo.mobile}#{/else}" />
			<span class="error">#{error 'job.contactInfo.mobile' /}</span>
		</div>
		<div>
			Phone: <input type="text" name="job.contactInfo.phone" value="#{ifErrors}${flash['job.contactInfo.phone']}#{/ifErrors}#{else}${employer.contactInfo.phone}#{/else}" />
			<span class="error">#{error 'job.contactInfo.phone' /}</span>
		</div>
		<div>
			City: <select id="citySelect" name="address.city.id">
				#{list items:cities, as:'city'}
					<option value=${city.id} 
						#{ifErrors}
							#{if flash['job.contactInfo.address.city.id==city.id']}
								selected=true
							#{/if}
						#{/ifErrors}
					>${city}</option>
				#{/list}
			</select>
		</div>
		<div>
			District: <select id="districtSelect" name="address.district.id">
			</select>
		</div>
	</div>
	<div>
		Languages: *{*** TODO : Write Languages here ***}*
	</div>
	<div>
		<input type="submit" value="Add" />
	</div>

	<script type="text/javascript">
		var districtAction = #{jsAction @Application.districtsForCity(':cityId') /}
		
		$(function() {
			$.get(districtAction({cityId: $('#citySelect').val()}), function(districts) {
				$('#districtSelect option').remove();
				$.each(districts, function(index, district) {
					$("#districtSelect").append('<option value="' + district.id + '">' + district.name + "</option>");
					});
				});
		});
		
		$('#citySelect').change(function() {
			$.get(districtAction({cityId: $('#citySelect').val()}), function(districts) {	
				$('#districtSelect option').remove();
				$.each(districts, function(index, district) {
					$("#districtSelect").append('<option value="' + district.id + '">' + district.name + "</option>");
					});
				});
		});
	</script>
	
#{/form}