#{extends 'main.html' /}
#{set title:'Home' /}

#{navigationBar /}

<h1>Intern/Employer</h1>

#{if finalPoints}
<h2>Suitable Resumes</h2>
	#{list items:finalPoints, as:'point'}
		<a href="@{InternEmployerController.viewResume(point.resume.id)}"><h3>${point.resume} for ${point.job}</h3></a>
		<div>Point: +${point.strongPoint} -${point.weakPoint}</div>
	#{/list}
	<div>
		<a href="@{InternEmployerController.index(page-1)}">Prev</a>
		<a href="@{InternEmployerController.index(page+1)}">Next</a>
	</div>
#{/if}