#{extends 'main.html' /}
#{set title:'Jobs' /}

#{navigationBar /}

<h1>Intern/Employer</h1>

#{if flash.error}
	<p class="error">
		&{flash.error}
	</p>
#{/if}

#{if flash.success}
	<p class="success">
		&{flash.success}
	</p>
#{/if}

#{if jobs}
	<h2>Jobs</h2>
	#{list items:jobs, as:'job'}
		<a href="@{InternEmployerController.viewJob(job.id)}"><h3>${job}</h3></a>
		#{if job.description}
			<div>				
				${job.description}				
			</div>
		#{/if}
	#{/list}
	<div>
		#{if page > 1}
			<a href="@{InternEmployerController.resumes(page-1)}">Prev</a>
		#{/if}
		#{if page < max}
			<a href="@{InternEmployerController.resumes(page+1)}">Next</a>
		#{/if}
	</div>
#{/if}