#{extends 'main.html' /}
#{set title:'Update Employer Profile' /}

#{navigationBar /}

<h1>Intern/Employer</h1>

#{ifErrors}
	<h1>Oops...</h1>
	#{errors}
		<li>${error}</li>
	#{/errors}
#{/ifErrors}

#{form @InternEmployerController.updateProfilePhoto(), enctype:'multipart/form-data'}
	<div>
		Company Logo or Profile Photo: 
		#{if employer?.logo && employer?.logo.exists()}
			<img src="@{Application.employerPhoto(employer.id)}" />
		#{/if}
		#{else}
			none
		#{/else}
		<input type="file" name="employer.logo" />
		<span class="error">#{error 'employer.logo' /}</span>
		<input type="submit" value="Upload" />
	</div>
#{/form}

#{form @InternEmployerController.updateProfile(), enctype:'multipart/form-data'}
	<div>
		Email: <input type="text" name="employer.email" value="#{ifErrors}${flash['employer.email']}#{/ifErrors}#{else}${employer.email}#{/else}" />
		<span class="error">#{error 'employer.email' /}</span>
	</div>
	<div>
		Password: <input type="password" name="employer.password" value="#{ifErrors}${flash['employer.password']}#{/ifErrors}#{else}${employer.password}#{/else}" />
		<span class="error">#{error 'employer.password' /}</span>
	</div>
	<div>
		CompanyName: <input type="text" name="employer.companyName" value="#{ifErrors}${flash['employer.companyName']}#{/ifErrors}#{else}${employer.companyName}#{/else}" />
		<span class="error">#{error 'employer.companyName' /}</span>
	</div>
	<div>
		Description: <textarea name="employer.description">#{ifErrors}${flash['employer.description']}#{/ifErrors}#{else}${employer.description}#{/else}</textarea>
		<span class="error">#{error 'employer.description' /}</span>
	</div>
	<div>
		Company Size: 
			<select name="employer.companySize.id">
				#{list items:models.InternCompanySize.all().fetch(), as:'comSize'}
					<option value=${comSize.id}>${comSize}</option>
				#{/list}
			</select>
	</div>
	<div>
		Industry: <input type="text" name="employer.industry" value="#{ifErrors}${flash['employer.industry']}#{/ifErrors}#{else}${employer.industry}#{/else}" />
		<span class="error">#{error 'employer.industry' /}</span>
	</div>
	
	<div>
		Contact Info:
		<span class="error">#{error 'contactInfo' /}</span>
		<div>
			Contact Email: <input type="text" name="employer.contactInfo.contactEmail" value="#{ifErrors}${flash['employer.contactInfo.contactEmail']}#{/ifErrors}#{else}${employer.contactInfo.contactEmail}#{/else}" />
			<span class="error">#{error 'employer.contactInfo.contactEmail' /}</span>
		</div>
		<div>
			Mobile: <input type="text" name="employer.contactInfo.mobile" value="#{ifErrors}${flash['employer.contactInfo.mobile']}#{/ifErrors}#{else}${employer.contactInfo.mobile}#{/else}" />
			<span class="error">#{error 'employer.contactInfo.mobile' /}</span>
		</div>
		<div>
			Phone: <input type="text" name="employer.contactInfo.phone" value="#{ifErrors}${flash['employer.contactInfo.phone']}#{/ifErrors}#{else}${employer.contactInfo.phone}#{/else}" />
			<span class="error">#{error 'employer.contactInfo.phone' /}</span>
		</div>
		<div>
			Address: <input type="text" name="employer.contactInfo.address.address" value="#{ifErrors}${flash['employer.contactInfo.address.address']}#{/ifErrors}#{elseif employer.contactInfo.address?.address}${employer.contactInfo.address.address}#{/elseif}" />
			<span class="error">#{error 'employer.contactInfo.address.address' /}</span>
		</div>
		<div>
			City: <select id="citySelect" name="employer.contactInfo.address.city.id">				
					#{list items:models.InternCity.all().fetch(), as:'city'}
					<option value=${city.id} 
						#{ifErrors}
							#{if Long.parseLong(flash['employer.contactInfo.address.city.id']) == (city.id)}
								selected=true
							#{/if}
						#{/ifErrors}
						#{elseif employer.contactInfo.address.city?.id==city.id}
							selected=true
						#{/elseif}
					>${city}</option>
				#{/list}
			</select>
		</div>
		<div>
			District: <select id="districtSelect" name="employer.contactInfo.address.district.id">
				#{list items:districts, as:'district'}
					<option value=${district.id}
						#{ifErrors}
							#{if Long.parseLong(flash['employer.contactInfo.address.district.id']) == (district.id)}
								selected=true
							#{/if}
						#{/ifErrors}
						#{elseif employer.contactInfo.address.district?.id==district.id}
							selected=true
						#{/elseif}
					>${district.name}</option>
				#{/list}
			</select>
		</div>
	</div>
	<div>
		<input type="submit" value="Apply change" />
	</div>
	
	<script type="text/javascript">
		var districtAction = #{jsAction @Application.districtsForCity(':cityId') /}
		
		$('#citySelect').change(function() {
			$.get(districtAction({cityId: $('#citySelect').val()}), function(districts) {	
				$('#districtSelect option').remove();
				$.each(districts, function(index, district) {
					$("#districtSelect").append('<option value="' + district.id + '">' + district.name + "</option>");
					});
				});
		});
	</script>
	
#{/form}