#{extends 'main.html' /}
#{set title:'Update Employer Profile' /}

<div class="wrapper">
#{navigationBar /}

<div class="middle">
#{ifErrors}
	<h1>Oops...</h1>
	#{errors}
		<li>${error}</li>
	#{/errors}
#{/ifErrors}

<div style="width:100%; float: left">
	<div class="avatar">
		#{form @InternEmployerController.updateProfilePhoto(), enctype:'multipart/form-data'}
		
		Company Logo or Profile Photo: 
        <div style="width:100%; padding-bottom:10px">
            #{if employer?.logo && employer?.logo.exists()}
                <img src="@{Application.employerPhoto(employer.id)}" />
            #{/if}
            #{else}
                none
            #{/else}
        </div>
        <div style="width:160px">
            <input size="11" type="file" name="employer.logo" />
            <span class="error">#{error 'employer.logo' /}</span>
            <input style="float: right; width:100%" type="submit" value="Upload" />
        </div>
        #{/form}
	</div>
	<div style="float:left; width:520px">
    	<table cellpadding="10px">
        	<tr>
            #{form @InternEmployerController.updateProfile(), enctype:'multipart/form-data'}
                <td>
                    Email: 
                </td>
                <td>
                	<input type="text" name="employer.email" value="#{ifErrors}${flash['employer.email']}#{/ifErrors}#{else}${employer.email}#{/else}" />
                    <span class="error">#{error 'employer.email' /}</span>
                </td>
            </tr>
            <tr>
                <td>
                    Password: 
                </td>
                <td>
                	<input type="password" name="employer.password" value="#{ifErrors}${flash['employer.password']}#{/ifErrors}#{else}${employer.password}#{/else}" />
                    <span class="error">#{error 'employer.password' /}</span>
                </td>
            </tr>
            <tr>
                <td>
                    CompanyName: 
                </td>
                <td>
                	<input type="text" name="employer.companyName" value="#{ifErrors}${flash['employer.companyName']}#{/ifErrors}#{else}${employer.companyName}#{/else}" />
                    <span class="error">#{error 'employer.companyName' /}</span>
                </td>
            </tr>
            <tr>
                <td>
                    Description: 
                </td>
                <td>
                	<textarea name="employer.description">#{ifErrors}${flash['employer.description']}#{/ifErrors}#{else}${employer.description}#{/else}</textarea>
                    <span class="error">#{error 'employer.description' /}</span>
                </td>
            </tr>
            <tr>
                <td>
                    Company Size: 
                </td>
                <td>
                    <select name="employer.companySize.id">
                            #{list items:models.InternCompanySize.all().fetch(), as:'comSize'}
                                <option value=${comSize.id}
									#{ifErrors}
                                        #{if Long.parseLong(flash['employer.companySize.id']) == (comSize.id)}
                                            selected=true
                                        #{/if}
                                    #{/ifErrors}
                                    #{elseif employer.companySize?.id==comSize.id}
                                        selected=true
                                    #{/elseif}
								>${comSize}</option>
                            #{/list}
                        </select>
                </td>
            </tr>
            <tr>
                <td>
                    Industry:
                </td>
                <td>
                	<input type="text" name="employer.industry" value="#{ifErrors}${flash['employer.industry']}#{/ifErrors}#{else}${employer.industry}#{/else}" />
                    <span class="error">#{error 'employer.industry' /}</span>
                </td>
            </tr>
            <tr>    
                <td>
                    Contact Info:
                    <span class="error">#{error 'contactInfo' /}</span>
                </td>
            </tr>
            <tr>
                <td>
                    Contact Email: 
                </td>
                <td>
                	<input type="text" name="employer.contactInfo.contactEmail" value="#{ifErrors}${flash['employer.contactInfo.contactEmail']}#{/ifErrors}#{else}${employer.contactInfo.contactEmail}#{/else}" />
                        <span class="error">#{error 'employer.contactInfo.contactEmail' /}</span>
                </td>
            </tr>
            <tr>
                <td>
                        Mobile: 
                </td>
                <td>
                	<input type="text" name="employer.contactInfo.mobile" value="#{ifErrors}${flash['employer.contactInfo.mobile']}#{/ifErrors}#{else}${employer.contactInfo.mobile}#{/else}" />
                        <span class="error">#{error 'employer.contactInfo.mobile' /}</span>
                </td>
            </tr>
            <tr>
                    <td>
                        Phone: 
                    </td>
                    <td>
                    	<input type="text" name="employer.contactInfo.phone" value="#{ifErrors}${flash['employer.contactInfo.phone']}#{/ifErrors}#{else}${employer.contactInfo.phone}#{/else}" />
                        <span class="error">#{error 'employer.contactInfo.phone' /}</span>
                    </td>
            </tr>
            <tr>
                    <td>
                        Address: 
                    </td>
                    <td>
                    	<input type="text" name="employer.contactInfo.address.address" value="#{ifErrors}${flash['employer.contactInfo.address.address']}#{/ifErrors}#{elseif employer.contactInfo.address?.address}${employer.contactInfo.address.address}#{/elseif}" />
                        <span class="error">#{error 'employer.contactInfo.address.address' /}</span>
                    </td>
            </tr>
            <tr>
                    <td>
                        City: 
                    </td>
                    <td>
                    	<select id="citySelect" name="employer.contactInfo.address.city.id">				
                                #{list items:models.InternCity.all().fetch(), as:'city'}
                                <option value=${city.id} 
                                    #{ifErrors}
                                        #{if Long.parseLong(flash['employer.contactInfo.address.city.id']) == (city.id)}
                                            selected=true
                                        #{/if}
                                    #{/ifErrors}
                                    #{elseif employer.contactInfo.address.city?.id==city.id}
                                        selected=true
                                    #{/elseif}
                                >${city}</option>
                            #{/list}
                        </select>
                    </td>
             </tr>
             <tr>
                    <td>
                        District:
                    </td>
                    <td>
                    <select id="districtSelect" name="employer.contactInfo.address.district.id">
                            #{list items:districts, as:'district'}
                                <option value=${district.id}
                                    #{ifErrors}
                                        #{if Long.parseLong(flash['employer.contactInfo.address.district.id']) == (district.id)}
                                            selected=true
                                        #{/if}
                                    #{/ifErrors}
                                    #{elseif employer.contactInfo.address.district?.id==district.id}
                                        selected=true
                                    #{/elseif}
                                >${district.name}</option>
                            #{/list}
                        </select>
                    </td>
                </tr>
</table>
</div>
	
    <div style="width:100%; float: left; text-align: center; padding-top:20px; padding-bottom:20px; padding-left:10px">
        <input style="width: 150px" type="submit" value="Save" /><br /><br />
        <a href="#">Cancel</a>
    </div>	
	
	<script type="text/javascript">
		var districtAction = #{jsAction @Application.districtsForCity(':cityId') /}
		
		$('#citySelect').change(function() {
			$.get(districtAction({cityId: $('#citySelect').val()}), function(districts) {	
				$('#districtSelect option').remove();
				$.each(districts, function(index, district) {
					$("#districtSelect").append('<option value="' + district.id + '">' + district.name + "</option>");
					});
				});
		});
	</script>
	
#{/form}

</div>
</div>

	<div style="height: 40px; width:100%; float: left"> </div>
	<!--Footer-->
    #{footer /}