#{extends 'main.html' /}
#{set title:'View Job' /}

#{if session['isAdmin'] == "true"}
	<a href="@{CRUD.index()}">Admin</a>
#{/if}
<a href="@{InternEmployerController.index()}">Home</a>
<a href="@{InternEmployerController.profile()}">Me</a>
<a href="@{Secure.logout()}">Logout</a>

<h1>Intern/job Employer</h1>

#{displayJob job:job, as:"full" /}

#{if jobPoints}
<h2>Suitable Resumes</h2>
	#{list items:jobPoints, as:'point'}
		<a href="@{InternEmployerController.viewResume(point.resume.id)}"><h3>${point.resume} for ${point.job}</h3></a>
		<div>Point: +${point.strongPoint} -${point.weakPoint}</div>
	#{/list}
#{/if}