#{extends 'main.html' /}
#{set title: 'View Application' /}

<div class="wrapper">
#{navigationBar /}

<div class="middle">
#{if flash.error}
	<p class="error">
		&{flash.error}
	</p>
#{/if}

#{if flash.success}
	<p class="success">
		&{flash.success}
	</p>
#{/if}

<div>
	Posted at: ${application.postedAt}
</div>
<br />
#{if application.message}
	<div>
		<h2>Message</h2> ${application.message}
	</div>
#{/if}
<br />
#{displayResume resume:application.resume /}
<br />
#{displayJob job:application.job /}

</div>

	<div style="height: 40px; width:100%"> </div>
    <!--Footer-->
    #{footer /}
</div>
