#{extends 'main.html' /}
#{set title:'View Job' /}

#{navigationBar /}

<h1>Intern/Employer</h1>

#{if flash.error}
	<p class="error">
		&{flash.error}
	</p>
#{/if}

#{if flash.success}
	<p class="success">
		&{flash.success}
	</p>
#{/if}

#{displayJob job:job, as:"employer" /}

#{if jobPoints}
<h2>Suitable Resumes</h2>
	#{list items:jobPoints, as:'point'}
		<a href="@{InternEmployerController.viewResume(point.resume.id)}"><h3>${point.resume} for ${point.job}</h3></a>
		<div>Point: +${point.strongPoint} -${point.weakPoint}</div>
	#{/list}
#{/if}

#{if job?.applications}
	<h2>Applications</h2>
	#{list items:job.applications, as:'applications'}
		<h3>${application}</h3>
	#{/list}
#{/if}