#{extends 'main.html' /}
#{set title:'View Job' /}

<div class="wrapper">
	#{navigationBar /}

	<div class="middle">
		<div class="notification">
			#{notification /}
		</div>

		#{displayJob job:job, as:"employer" /}

		#{if jobPoints}
		
			<!--Seperator space-->
	        <div style="height:40px; width:100%; float:left"> </div>
	
			<div style="width:100%; float: left;">	
				<div style="float: left; padding-bottom: 20px">
					<h1>Suitable Resumes</h1>
			    </div>
			    <div style="float:right">
					<a href ="@{InternEmployerController.resumesForJob(job.id, 1)}" class="light-gray">view all</a>
			    </div>
			</div>
    
			<div style="width:720px; float:left; margin: 0px auto;">
				#{list items:jobPoints, as:'point'}
			    	<div class="info-box-no-img">
						<a href="@{InternEmployerController.viewResume(point.resume.id)}">${point.resume} for ${point.job}</a>
						<div>
							#{if point.resume.description}
								#{if point.resume.description.length() > 200}
									${point.resume.description.substring(0, 200) + "..."}
								#{/if}
								#{else}
									${point.resume.description}
								#{/else}
							#{/if}
						</div>
				    </div>
				#{/list}
			</div>
		#{/if}

		<div style="width:100%; float: none; padding-bottom: 50px">
			#{if job?.applications}
				<div style="float: left; padding-bottom: 20px">
					<h1>Applications</h1>
			    </div>
			   <div style="float:right">
					<a href="@{InternEmployerController.applicationsForJob(job.id, 1)}" class="light-gray">view all</a>
			    </div>
	
				<div style="width:720px; float: left; margin: 0px auto; padding-bottom:20px">
			    	#{list items:models.InternApplication.find("job = ? order by postedAt desc", job).fetch(4), as:'application'}
				    	<div class="info-box-no-img">
							<a href="@{InternEmployerController.viewApplication(application.id)}">${application.resume}</a>
							<div>
								#{if application.resume.description}
									#{if application.resume.description.length() > 200}
										${application.resume.description.substring(0, 200) + "..."}
									#{/if}
									#{else}
										${application.resume.description}
									#{/else}
								#{/if}
							</div>
					    </div>
					#{/list}
				</div>
			#{/if}
		</div>

	</div>
</div>

<!--Footer-->
#{footer /}