<div style="width: 100%; float:left; padding-bottom:10px">
	<div style="float:left">
		<h2>${_job}</h2>
    </div>
    <div style="float:right">
        #{if _as=="employer"}
            <a href="@{InternEmployerController.editJobForm(_job.id)}">edit</a>
        #{/if}
        
        #{if _as=="full"}
            <div>
                Owner: ${_job?.owner}
            </div>
        #{/if}
    </div>
</div>

<div style="width:90%; float:none; margin:0px auto">
    #{if _job?.requiredWorkExperience > 0}
        <div>
            Required work experience: ${_job?.requiredWorkExperience}
        </div>
    #{/if}
    
    #{if _job?.description}
        <div>
            Description: <p class="textarea">${_job?.description}</p>
        </div>
    #{/if}
    
    #{displayContactInfo contactInfo:_job?.contactInfo /}
    
    #{if _job?.requiredLanguages}
        <div>
            Required languages: #{list items:_job?.requiredLanguages, as:'language'}${language} #{/list}
        </div>
    #{/if}
    
    #{if _job?.requiredEducation && !_job?.requiredEducation.isEmpty()}
        <div>
            Required education:
                #{displayEducation education:_job?.requiredEducation /}
        </div> 
    #{/if}
</div>