#{if _employer?.logo && _employer?.logo.exists()}
	<div>
    	Profile picture: <img src="@{Application.employerPhoto(_employer.id)}" />
    </div>
#{/if}

<div>
	Email: ${_employer?.email}
</div>

#{if _as == "full"}
	<div>
		User type: ${_employer?.userType}
	</div>
	
	<div>
		Is Admin: ${_employer?.isAdmin}
	</div>
	
	<div>
		Password: ${_employer?.password}
	</div>
#{/if}

#{if _employer?.companyName}
<div>
	Company name: ${_employer?.companyName}
</div>
#{/if}

#{if _employer?.industry}
<div>
	Industry: ${_employer?.industry}
</div>
#{/if}

#{if _employer?.description}
<div>
	Description: ${_employer?.description}
</div>
#{/if}

#{if _employer?.companySize}
<div>
	Company size: ${_employer?.companySize.size}
</div>
#{/if}

#{displayContactInfo contactInfo:_employer?.contactInfo /}