<table>
	<tr>
		<td width="100px">
			<b><p class="light-gray">Email</p></b>
		</td>
		<td>
			${_employer?.email}
		</td>
	</tr>

	#{if _as == "full"}
		<tr>
			<td width="100px">
				<b><p class="light-gray">User type</p></b>
			</td>
			<td>
				${_employer?.userType}
			</td>
		</tr>
	
		<tr>
			<td width="100px">
				<b><p class="light-gray">Is Admin</p></b>
			</td>
			<td>
				${_employer?.isAdmin}
			</td>
		</tr>
	
		<tr>
			<td width="100px">
				<b><p class="light-gray">Password</p></b>
			</td>
			<td>
				${_employer?.password}
			</td>
		</tr>
	#{/if}

	#{if _employer?.industry}
		<tr>
			<td width="100px">
				<b><p class="light-gray">Industry</p></b>
			</td>
			<td>
				<p class="textarea">${_employer?.industry}</p>
			</td>
		</tr>
	#{/if}

	#{if _employer?.description}
		<tr>
			<td width="100px">
				<b><p class="light-gray">Description</p></b>
			</td>
			<td>
				<p class="textarea">${_employer?.description}</p>
			</td>
		</tr>
	#{/if}

	#{if _employer?.companySize}
		<tr>
			<td width="100px">
				<b><p class="light-gray">Company Size</p></b>
			</td>
			<td>
				<p class="textarea">${_employer?.companySize}</p>
			</td>
		</tr>
	#{/if}

	<tr>
		<td width="100px">
			<b><p class="light-gray">Contact Info</p></b>
		</td>
		<td>
			#{displayContactInfo contactInfo:_employer?.contactInfo /}
		</td>
	</tr>
</table>