<table>
	<tr>
		<td width="100px">
			<b><p class="light-gray">Email</p></b>
		</td>
		<td>
			${_jobSeeker?.email}
		</td>
	</tr>

	#{if _as == "full"}
		<tr>
			<td width="100px">
				<b><p class="light-gray">User type</p></b>
			</td>
			<td>
				${_jobSeeker?.userType}
			</td>
		</tr>
	
		<tr>
			<td width="100px">
				<b><p class="light-gray">Is Admin</p></b>
			</td>
			<td>
				${_jobSeeker?.isAdmin}
			</td>
		</tr>
	
		<tr>
			<td width="100px">
				<b><p class="light-gray">Password</p></b>
			</td>
			<td>
				${_jobSeeker?.password}
			</td>
		</tr>
	#{/if}

	#{if _jobSeeker?.birthday}
		<tr>
			<td width="100px">
				<b><p class="light-gray">Birthday</p></b>
			</td>
			<td>
				${new StringBuilder(new java.text.SimpleDateFormat("dd/MM/yyyy").format(_jobSeeker.birthday))}
			</td>
		</tr>
	#{/if}

	#{if _jobSeeker?.aboutMe}
		<tr>
			<td width="100px">
				<b><p class="light-gray">About me</p></b>
			</td>
			<td>
				<p class="textarea">${_jobSeeker?.aboutMe}</p>
			</td>
		</tr>
	#{/if}

	#{if _jobSeeker?.college}
		<tr>
			<td width="100px">
				<b><p class="light-gray">College</p></b>
			</td>
			<td>
				${_jobSeeker?.college}
			</td>
		</tr>
	#{/if}

	<tr>
		<td width="100px">
			<b><p class="light-gray">Contact Info</p></b>
		</td>
		<td>
			#{displayContactInfo contactInfo:_jobSeeker?.contactInfo /}
		</td>
	</tr>
</table>