<div style="width: 100%; float:left; padding-bottom:10px">
	<div style="float:left">
		<h1>${_resume}</h1>
    </div>
    <div style="float:right">
        #{if _as=="jobSeeker"}
            <a href="@{InternJobSeekerController.editResumeForm(_resume.id)}" class="light-gray">edit</a>
        #{/if}
	</div>
</div>

<div style="width:100%; float:left">
	<table>
    
	    #{if _resume?.workExperience > 0}
			<tr>
				<td width="100px">
					<b><p class="light-gray">Work experience</p></b>
				</td>
	        	<td>
		            ${_resume?.workExperience}
		        </td>
			</tr>
	    #{/if}
    
	    #{if _resume?.description}
	        <tr>
				<td width="100px">
					<b><p class="light-gray">Description</p></b>
				</td>
	        	<td>
					<p class="textarea">${_resume?.description}</p>
				</td>
	        </tr>
	    #{/if}
    
		<tr>
			<td width="100px">
				<b><p class="light-gray">Contact Info</p></b>
			</td>
			<td>
	    		#{displayContactInfo contactInfo:_resume?.contactInfo /}
			</td>
		</tr>
    
	    #{if _resume?.languages}
	        <tr>
				<td width="100px">
					<b><p class="light-gray">Languages</p></b>
				</td>
	        	<td>
					#{list items:_resume?.languages, as:'language'}${language} #{/list}		</td>
	        </tr>
	    #{/if}
    
	    #{if _resume?.education && !_resume?.education.isEmpty()}
	        <tr>
				<td width="100px">
					<b><p class="light-gray">Education</p></b>
				</td>
				<td>
	                #{displayEducation education:_resume?.education /}
				</td>
	        </tr> 
	    #{/if}
	</table>
</div>
