#{if _contactInfo?.contactEmail}
<div>
	Contact Email: ${_contactInfo.contactEmail}
</div>
#{/if}
#{if _contactInfo?.mobile}
<div>
	Mobile: ${_contactInfo.mobile}
</div>
#{/if}
#{if _contactInfo?.phone}
<div>
	Phone: ${_contactInfo.phone}
</div>
#{/if}
#{if _contactInfo?.address}
<div>
	#{if _contactInfo.address.address}
		Address: ${_contactInfo.address.address}
	#{/if}
		<div>
			<div>
				#{if _contactInfo.address.city}
					City: ${_contactInfo.address.city}
				#{/if}
			</div>
			<div>
				#{if _contactInfo.address.district}
					District: ${_contactInfo.address.district.name}
				#{/if}
			</div>
		</div>
</div>
#{/if}