<div style="width:100%; float:left">
	<div class="toplogo">
		<a href="#">
			#{if session['userType'] == "Job Seeker"}
				<img class="toplogo" src="/public/images/me-jobseeker-logo.jpg">
			#{/if}
			#{elseif session['userType'] == "Employer"}
				<img class="toplogo" src="/public/images/me-employer-logo.jpg">
			#{/elseif}
		</a>
	</div>
	<div class="topbuttongroup">
		#{if session['isAdmin'] == "true"}
		<a class="topbutton" href="@{CRUD.index()}">Admin</a>
		#{/if}

		#{if session['userType'] == "Job Seeker"}
		<a class="topbutton" href="@{InternJobSeekerController.addResumeForm()}">Add</a>
		<a class="topbutton" href="@{InternJobSeekerController.index()}">Home</a>
		<a class="topbutton" href="@{InternJobSeekerController.profile()}">Me</a>
		#{/if}
		#{elseif session['userType'] == "Employer"}
		*{
		<a class="topbutton" href="@{InternEmployerController.index()}">Home</a>
		<a class="topbutton" href="@{InternEmployerController.profile()}">Me</a>
		}*
		#{/elseif}
		<a class="topbutton" href="@{Secure.logout()}">Logout</a>
	</div>
	
</div>
<div class="hor-sep">
	<hr style="color: #333; width: 100%"/>
</div>