<div style="width:100%; float:left">
	<div class="toplogo">
		<a href="@{Application.index()}">
			#{if session['userType'] == "Job Seeker"}
				<img class="toplogo" src="/public/images/me-jobseeker-logo.jpg">
			#{/if}
			#{elseif session['userType'] == "Employer"}
				<img class="toplogo" src="/public/images/me-employer-logo.jpg">
			#{/elseif}
		</a>
	</div>
	<div class="topbuttongroup">
		#{if session['isAdmin'] == "true"}
		<a class="topbutton" href="@{CRUD.index()}">Admin</a>&nbsp;&nbsp;&nbsp;
		#{/if}

		#{if session['userType']}
			#{if session['userType'] == "Job Seeker"}
				<a class="topbutton" href="@{InternJobSeekerController.addResumeForm()}">Add</a>&nbsp;&nbsp;&nbsp;
       
				<a class="topbutton" href="@{InternJobSeekerController.index()}">Home</a>&nbsp;&nbsp;&nbsp;
       
				<a class="topbutton" href="@{InternJobSeekerController.profile()}">Me</a>&nbsp;&nbsp;&nbsp;
			#{/if}
			#{elseif session['userType'] == "Employer"}
				<a class="topbutton" href="@{InternEmployerController.addJobForm()}">Add</a>&nbsp;&nbsp;&nbsp;
				
				<a class="topbutton" href="@{InternEmployerController.index()}">Home</a>&nbsp;&nbsp;&nbsp;
       
				<a class="topbutton" href="@{InternEmployerController.profile()}">Me</a>&nbsp;&nbsp;&nbsp;
			#{/elseif}
			
			<a class="topbutton" href="@{Secure.logout()}">Logout</a>&nbsp;&nbsp;&nbsp;
		#{/if}
		#{else}
			<a href="@{Secure.login()}">Login</a>
		#{/else}
	</div>
	
</div>
<div class="hor-sep">
	<hr style="color: #333; width: 100%"/>
</div>
