<div class="top" style="width:100%; float:left">
	<div class="toplogo" style="float: left">
		<a href="#">
			#{if session['userType'] == "Job Seeker"}
				<img class="toplogo" src="/public/images/me-jobseeker-logo.jpg">
			#{/if}
			#{elseif session['userType'] == "Employer"}
				<img class="toplogo" src="/public/images/me-employer-logo.jpg">
			#{/elseif}
		</a>
	</div>
	<div class="topbuttongroup" style="float: right">
		#{if session['isAdmin'] == "true"}
			<a href="@{CRUD.index()}">Admin</a> -
		#{/if}

		#{if session['userType'] == "Job Seeker"}
		<a href="@{InternJobSeekerController.addResumeForm()}">Add</a> -
		<a href="@{InternJobSeekerController.index()}">Home</a> -
		<a href="@{InternJobSeekerController.profile()}">Me</a> -
		#{/if}
		#{elseif session['userType'] == "Employer"}
		*{
		<a href="@{InternEmployerController.index()}">Home</a> -
		<a href="@{InternEmployerController.profile()}">Me</a> -
		}*
		#{/elseif}
		<a href="@{Secure.logout()}">Logout</a>
	</div>
	
</div>
<div class="hor-sep">
	<hr style="color: #333; width: 100%"/>
</div>