#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Intern/Job Seeker</h1>

<div>
	Email: ${jobSeeker.email}
</div>
<div>
	User type: ${jobSeeker.userType}
</div>
<div>
	Is Admin: ${jobSeeker.isAdmin}
</div>
<div>
	Password: ${jobSeeker.password}
</div>
<div>
	Full name: ${jobSeeker.fullName}
</div>
<div>
	Birthday: ${jobSeeker.birthday}
</div>
<div>
	About me: ${jobSeeker.aboutMe}
</div>
<div>
	College: ${jobSeeker.college}
</div>
<div>
	Contact Email: ${jobSeeker.contactInfo.contactEmail}
</div>
<div>
	Mobile: ${jobSeeker.contactInfo.mobile}
</div>
<div>
	Phone: ${jobSeeker.contactInfo.phone}
</div>